.CodeView
    background-color: #eee
    padding: 10px
    height: calc(100vh - 125px)
    display: inline-flex
    width: 100%
    .intro
        width: 450px
        height: 100%
        overflow: auto
        background-color: #fff
        border-radius: 5px
        padding: 10px 20px
    .code-editor
        width: calc(100% - 450px)