$introWidth: 450px
    
.CodeView
    background-color: #eee
    padding: 10px
    height: calc(100vh - 125px)
    display: inline-flex
    width: 100%
    .intro
        width: $introWidth
        height: 100%
        overflow: auto
        background-color: #fff
        border-radius: 5px
        padding: 10px 20px
        user-select: text
        *
            user-select: text
    .code-editor
        width: calc(100% - #{$introWidth})
        height: 100%
        overflow: hidden
        .toolBar
            padding-left: 10px
            margin-bottom: 10px