.MarkdownEditor
    display: inline-flex
    width: 100%
    padding: 10px
    height: calc(100vh - 125px)
    background-color: #fafafa
    position: relative
    .react-resizable
        height: 100%!important
    .md-editor
        resize: none
        margin-right: 10px
        height: 100%
        .react-codemirror2
            height: 100%
            .CodeMirror
                height: 100%
                border-radius: 5px
                .CodeMirror-sizer
                    height: 100%
    .preview
        background-color: #fff
        user-select: text
        padding: 10px 20px 10px 30px
        border: 1px solid #d9d9d9
        border-radius: 5px
        overflow: auto
        width: inherit
        *
            user-select: text
    .react-resizable-handle
        background-color: #eeeeee
        height: 100%
        cursor: col-resize
        right: -10px
